@{
    List<MenuItems> menuItems = new List<MenuItems>() { 
    new MenuItems(){ linkText = "Click Counter", actionName = "Index", controllerName = "Home"},
    new MenuItems(){ linkText = "Multiline TextBox", actionName = "MultilineTextBox", controllerName = "Home"},
    new MenuItems(){ linkText = "Password", actionName = "Password", controllerName = "Home"},
    new MenuItems(){ linkText = "jQuery Tree View", actionName = "Index", controllerName = "Tree"}
    };
    
    }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="header">
        Knockout Js - Simplify dynamic JavaScript UIs with the Model-View-View Model (MVVM) pattern
    
    </div>

    <div class="main">
        <div class="leftpanel"> 
          
            @Html.Menu(menuItems, true)
            

        </div>
        <div class="rightpanel"> 
    @RenderBody()
            </div>
        </div>
    <div class="footer">
        copyright 2013

    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {

            //alert($('body').scrollHeight);
            //alert($(window).height());
            if (document.getElementsByTagName('html').scrollHeight < document.body.clientHeight)
            //if ($(document).scrollHeight < $(window).height())
            {
                $(".footer").addClass("footerfixed");
            }
            else {
                if ($(".footer").hasClass("footerfixed"))
                    $(".footer").removeClass("footerfixed");
            }
        });

    </script>
</body>
</html>
